.product {
    display: flex;
    gap: 100px;
}

.product-info-section {
    display: flex;
    max-width: 320px;
    flex-direction: column;
}

.add-to-cart-btn,
.out-of-stock {
    margin: 20px 0 40px 0;
}

.out-of-stock {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    opacity: 0.5;
    text-align: center;
}
