.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found img {
    height: 250px;
}
.not-found span {
    padding: 5px;
    font-size: 32px;
    text-align: center;
}
