.h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.hr {
    margin: 32px 0;
    border-color: var(--grey);
}
.summary-table {
    margin-bottom: 20px;
}
.summary-table td:first-child {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.summary-table td:last-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
