.overlay {
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    min-height: calc(100vh - 83px);
    background-color: var(--overlay);
    z-index: 5;
}
